:root {
    --rosa: #f83490;
    --marrom: #5a3b2e;
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
    flex-wrap: nowrap;
    overflow: hidden;
}

.links {
    color: var(--marrom);
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
    transition: 0.4s;
}

.meio {
    padding: 0px 5px 0px 5px;
}

.estiloActiva {
    border-bottom: 2px solid var(--rosa);
    font-weight: 700;
}