:root {
    --rosa: #f83490;
    --rosa-claro: #e85d9e;
}

.home {
    color: black;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
    font-family: "Poppins", sans-serif;
}

.btn_fome_pedido {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.0rem;
    color: #fff;
    background: var(--rosa);
    font-weight: 800;
    border-radius: 10px;
}

.btn_fome_pedido a {
    color: #fff;
    flex: 1;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.btn_fome_pedido img {
    padding: 0px 5px 0px 0px;
}

.btn_fome_pedido:hover {
    background: var(--rosa-claro);
    transform: translateY(-2px);
}